/* src/client/styles/_media.scss */
@use "include-media" as * with (
  $breakpoints: (
    tablet: 576px,
    desktop: 992px
  )
);

/* If you prefer namespacing (im.media), delete the 'as *' above and use:
@use "include-media" as im with (...);
@forward "include-media" as media-*; // optional, if you want to control what you expose
*/
