@use "client/styles/_media.scss" as *;

// Configure include-media with your custom breakpoints:
@use "include-media" as im with (
  $breakpoints: (
    tablet: 576px,
    desktop: 992px
  )
);

// your own mixins (same folder)
@use "./grid-mixins";

// EXAMPLE usage:
// @include im.media(">=tablet") { /* styles */ }
// @include im.media("<desktop") { /* styles */ }
