/* src/client/components/.../RelatedProducts.module.scss */

/* ✅ module-safe */
@use "../../styles/mq" as *;

.relatedContainer {
  margin-top: 70px;
  width: 100%;
  min-height: 500px;
  height: 100%;
}

.titleProducts {
  color: #3a5a40;
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  text-decoration: underline;
  cursor: default;

  &:hover {
    text-decoration: none;
  }
}

.productHead {
  width: auto;
  margin: auto;
}

.productArea {
  width: 100%;
  height: auto;
  padding: 34px 0;
  margin: 40px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  box-shadow:
    rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

  @include mq("<tablet") {
    column-gap: 2%;
    row-gap: 10px;
  }
}
